@import "./utilities.css";
@import "./layout.css";
@import "./primevue-overrides.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-md-success: #16A34A;
  --color-md-warning: #EA580C;
  --color-md-error: #DC2626;
}
