:root {
  --jandira-primary: #004698;
  --jandira-primary-light: #316DC8;
  --jandira-secondary: #16C47F;
  --jandira-tertiary: #FF885B;
  --jandira-teal: #00BBA7;
  --jandira-bg: #F8FAFC;
  --jandira-text: #333333;
  --jandira-footer-start: #003366;
  --jandira-footer-end: #001A33;
  --jandira-success: #28A745;
  --jandira-error: #DC3545;
  --jandira-warning: #FF6900;
  --jandira-info: #46A5A5;

  --sidebar-width: 260px;
  --sidebar-collapsed-width: 64px;
  --header-height: 56px;
  --footer-height: 48px;
}
